.data-table__filter {
  // z-index: 9998;
  overflow: auto;
  display: flex;
  flex-direction: column;

  .filter__tabs {
    margin: 0.625rem 0;
    display: flex;
    .tab {
      padding: 0.25rem 0.5rem;
      flex: 1;
      font-size: 0.875rem;
      color: var(--primary-color);
      cursor: pointer;
      text-align: center;

      &--active,
      &:hover {
        background-color: var(--primary-color);
        color: var(--white);
      }
    }
  }

  .filter__fields {
    display: flex;
    height: 9.375rem;

    .filter__fields__columns {
      flex: 1;
      margin-right: 0.5rem;
    }
    .filter__fields__values {
      flex: 1;
    }

    .filter__fields__list {
      list-style-type: none;
      padding: 0.3125rem 0;
      margin: 0;
      margin-bottom: 0.3125rem;
      overflow-y: auto;
      height: 100%;
      border: 0.0625rem solid #a9a9a9;
      border-radius: 0.25rem;

      .list__item {
        cursor: pointer;
        padding-left: 0.625rem;

        &:hover {
          background-color: var(--primary-color-opacity-85);
          color: var(--white);
        }
      }
    }
  }

  .filter__actions {
    margin: 1.25rem 0 0.625rem;
    display: flex;
    justify-content: space-between;
    button {
      min-width: 3.125rem;
      max-width: 4.6875rem;
      margin: 0.1875rem;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .filter__query {
    .title {
      color: #7f7f7f;
    }
    textarea {
      padding: 0.5rem 0.75rem;
      width: 100%;
      border-radius: 0.25rem;
      outline: none;
      transition: all 0.3s ease-in-out;

      &:focus {
        box-shadow: 0 0 0.25rem 0.0625rem rgba(0, 0, 0, 0.1);
      }
    }
  }
  .parent-checkbox {
    display: none;
    &:checked ~ .checkbox-icon {
      color: #008422;
    }
  }
  .filter__apply-btn {
    align-self: flex-end;
    background-color: var(--primary-color);
    color: var(--white);
  }
}
