@import "fonts";
@import "colors";
@import "filter";
@import "tableStyle";
@import "modals/change-detector";
@import "snotify/index";

#map {
  height: 100vh;
  width: 100%;
}

hr {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.text-left-layer {
  text-align: left !important;
  margin-left: 2rem;
}

.hidden {
  display: none;
}

.userNameLabel {
  text-align: left !important;
  margin-left: 2rem;
  font-size: 1.8rem;
  margin-top: 0.8rem;
}
.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.6rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.action-button-class {
  position: absolute;
  right: 0.5em;
  z-index: 10;
  width: 3.4rem;
  height: 3.4rem;
  padding: 0 !important;
}

.ol-control button:hover,
.ol-control button:focus {
  background-color: unset !important;
  opacity: unset !important;
}

.ol-control {
  background-color: unset;
  border-radius: 0;
  padding: 0;

  button {
    width: 3.1rem;
    height: 3.1rem;
    background: white;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);

    &:focus {
      box-shadow: unset !important;
    }

    &:hover {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
    }

    color: black;
  }

  #gcd-button-control {
    left: unset;
    top: unset;
    width: 3rem;
    height: 3rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjBBkRBSDfaGCTAAAA2UlEQVQoz4XOMUoDQRQG4C+pRLENLOQCsQukVNJ4gRTpJCQXEFN5AK31ALIXEFIGTGnjFRbstAqKBCVFsrCOhbu62YD+08zP++YxQE3fzJuVR9eaKtk3Fby6FXuQWeqVxzVTny7s5L0tker+gr7gcmNjZC5RL+rMy8/rImPB0fe1ruPeqgLu0CnAno/qr71jtwDPWlvgAE9FuZJpV8BEqlGUpqVEVBqfCuKy70nNjbVEjk0EwdqwTLoSIT+p2FqQGZVJ3aEz5040MJRtk82McjL4jyz8kYGFmy85wkTZ8zKtPwAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wNC0yNVQxNTowNTozMiswMjowMEYPGlwAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDQtMjVUMTU6MDU6MzIrMDI6MDA3UqLgAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==");
  }
}

.btn-control {
  background: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);

  &:focus {
    box-shadow: unset !important;
  }

  &:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  }

  .i {
    color: #000;
  }
}

// #map .ol-zoom .ol-zoom-out {
//   margin-top: 20.4rem;
// }
#map .ol-zoom-out,
#map .ol-zoom-in,
#map .ol-scale-line {
  display: none;
}
//
//#map .ol-zoomslider {
//  background-color: transparent;
//  top: 2.3em;
//}
//
//#map .ol-touch .ol-zoom .ol-zoom-out {
//  margin-top: 21.2rem;
//}
//
//#map .ol-touch .ol-zoomslider {
//  top: 2.75em;
//}
//
//#map .ol-zoom-in.ol-has-maptooltip:hover [role=maptooltip],
//#map .ol-zoom-in.ol-has-maptooltip:focus [role=maptooltip] {
//  top: 0.3rem;
//}
//
//#map .ol-zoom-out.ol-has-maptooltip:hover [role=maptooltip],
//#map .ol-zoom-out.ol-has-maptooltip:focus [role=maptooltip] {
//  top: 23.2rem;
//}
//

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.button {
  margin-top: 3.5rem;
}

.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.list-group {
  min-height: 2rem;
}

.list-group-item--custom {
  cursor: move;
  padding: 0.5rem 0 !important;
  border: unset !important;
}

.list-group-item--custom i {
  cursor: pointer;
}

.maptooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;
  color: white;
  padding: 0.4rem 0.8rem;
  opacity: 0.7;
  white-space: nowrap;
}

.maptooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.maptooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 0.1rem solid white;
}

.maptooltip-measure:before,
.maptooltip-static:before {
  border-top: 0.6rem solid rgba(0, 0, 0, 0.5);
  border-right: 0.6rem solid transparent;
  border-left: 0.6rem solid transparent;
  content: "";
  position: absolute;
  bottom: -0.6rem;
  margin-left: -0.7rem;
  left: 50%;
}

.maptooltip-static:before {
  border-top-color: #ffcc33;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0rem;
  position: relative;
  width: 2.5rem;
}

.label-primary {
  background-color: #428bca;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 0.8rem;
  content: "";
  height: 1.4rem;
  margin-top: -0.8rem;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 2.5rem;
}

.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 1.6rem;
  -webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
  content: "";
  height: 1.6rem;
  left: -0.4rem;
  margin-top: -0.8rem;
  position: absolute;
  top: -0.15rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 1.5rem;
}

.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 1.2rem;
}

.makeMePoint {
  cursor: pointer !important;
}

.modalText {
  display: block;
  font-size: 1.8rem;
}

.v--modal-box {
  overflow: auto !important;
  border-radius: 0.8rem;
}

.colorPickers {
  text-align: center;
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);

  &.colorPickers--dark {
    .nav-item a {
      color: rgba(255, 255, 255, 0.6);
      &:hover,
      &.active {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &.colorPickers--light {
    .nav-item a {
      color: rgba(0, 0, 0, 0.6);
      &:hover,
      &.active {
        color: rgba(0, 0, 0, 1);
      }
    }
  }

  .nav {
    display: flex;
    .nav-item {
      flex: 1;
      a {
        padding: 0.5rem;
      }
    }
  }

  .colorPickerButton {
    margin-top: 0.8rem;
    text-align: right;
    .btn {
      border-radius: 0;
      padding: 0.2rem 0.75rem;
      &:focus {
        box-shadow: none;
      }
    }
    .btn--cancel {
      background: var(--primary-color-opacity-50);
      color: #fff;
      font-weight: 500;
      &:hover {
        background: var(--primary-color);
      }
    }
    .btn--save {
      margin-left: 0.8rem;
      background-color: #5799d280;
      color: #fff;
      font-weight: 500;
      &:hover {
        background-color: #5799d2;
      }
    }
  }
}

.colorPickers h4 {
  padding: 1rem 0;
}

.colorPicker {
  display: inline-block;
}

.latLongShow {
  top: 0.9rem;
  right: 8rem;
  position: absolute;
  z-index: 1050;
  background: whitesmoke;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
}

.latLongShowForm {
  top: 0.9rem;
  right: 8rem;
  position: absolute;
  z-index: 9999;
  background: whitesmoke;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
}

.infokml {
  top: 7%;
  right: 1rem;
  position: absolute;
  z-index: 9999;
  background: whitesmoke;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.layerDiv {
  padding-left: 2rem !important;
}

.map:-moz-full-screen {
  height: 100%;
}

.map:-webkit-full-screen {
  height: 100%;
}

.map:-ms-fullscreen {
  height: 100%;
}

.map:fullscreen {
  height: 100%;
}

/* position the rotate control lower than usual */
.ol-rotate {
  top: 3em;
}

.sup-bar-layout {
  max-height: 100vh;
  overflow: auto;
  width: 30rem !important;
}

.map-layout {
  max-height: 100vh;
  // width: calc(100% - 30rem);
  width: 100%;
  position: relative;
}

.howMuchWidthHaveMap {
  //wtf?
  width: calc(100% - 5.6rem) !important;
}

.selectLayerForm {
  bottom: 5rem;
  right: 1rem;
  z-index: 999;
  position: absolute;
  background: white;
  text-align: left;
  padding: 1rem;
  border-radius: 1rem;
}

.serviceTitle {
  font-size: 1.4rem;
  margin-left: 2.5rem;
  word-wrap: break-word;
}
.layer-category-group {
  margin-left: 1rem !important;
}

.filter-modal-class {
  background: transparent;
}

.azc-cosmos-logo {
  height: 4.5rem;
  margin: 1rem 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
 {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.4s ease;
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */
 {
  transform: translateX(1rem);
  opacity: 0;
}

.centerize {
  text-align: center;
}

.margin-bottom-1halfrem {
  margin-bottom: 1.5rem;
}

.margin-top-halfrem {
  margin-top: 0.5rem;
}

.sidebar {
  .list-group-item {
    border: none;
    padding: 0.2rem 0;
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #9096a1;
    border-radius: 0.5rem;
    height: 3rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.badge-notify {
  background: red;
  position: relative;
  top: 1.5rem;
  left: 1rem;
  z-index: 200;
  border-radius: 50%;
  color: white;
}

.checkbox {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
}
