.multiselect {
  font-size: 0.875rem !important;
}

.multiselect__option:after {
  line-height: 1.875rem !important;
}

.multiselect__option--highlight {
  &,
  &:after {
    background: var(--primary-color-opacity-85) !important;
  }

  &.multiselect__option--selected {
    &,
    &:after {
      background: #e32222 !important;
    }
  }
}

.multiselect__placeholder {
  // margin: 0 !important;
}

.multiselect__select {
  height: 1.875rem !important;
}

.multiselect__option {
  padding: 0.375rem 0.75rem !important;
  min-height: 1.875rem !important;
}

.multiselect__tags {
  min-height: 1.875rem !important;
  // padding: 0.25rem 0.5rem 0.5rem 2.5rem 0 0.5rem !important;
}

.multiselect__tag {
  background: var(--primary-color-opacity-85) !important;
}

.multiselect__tag-icon:after {
  color: var(--white) !important;
}

.multiselect--active .multiselect__tags {
  padding: 0.5rem 2.5rem 0 0.5rem !important;
}
