.multiselect {
  font-size: 1.4rem !important;
}

.multiselect__option:after {
  line-height: 3rem !important;
}

.multiselect__option--highlight {
  &,
  &:after {
    background: var(--primary-color-opacity-85) !important;
  }

  &.multiselect__option--selected {
    &,
    &:after {
      background: #e32222 !important;
    }
  }
}

.multiselect__placeholder {
  // margin: 0 !important;
}

.multiselect__select {
  height: 3rem !important;
}

.multiselect__option {
  padding: 0.6rem 1.2rem !important;
  min-height: 3rem !important;
}

.multiselect__tags {
  min-height: 3rem !important;
  // padding: 0.4rem 4rem 0 0.8rem !important;
}

.multiselect__tag {
  background: var(--primary-color-opacity-85) !important;
}

.multiselect__tag-icon:after {
  color: var(--white) !important;
}

.multiselect--active .multiselect__tags {
  padding: 0.8rem 4rem 0 0.8rem !important;
}
