.pagination {
  padding-left: 0;
  margin: 2rem 0;
  border-radius: 0.4rem;

  li {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.5rem;

    a:focus {
      outline: none;
    }
  }
  & .active {
    color: var(--white);
    background-color: var(--primary-color);
  }
}
