.pagination {
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

  li {
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
  }
  & .active {
    color: var(--white);
    background-color: var(--primary-color);
  }
}
