.Sidebar {
    width: 56px;
    padding: 16px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #1b2537;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    z-index: 11;

    .user-profile {
        position: absolute;
        right: 56px;
        top: 0;
        border-bottom-left-radius: 5px;
        background-color: #1b2537;
        padding: 16px;
        text-align: left;
        display: flex;
        align-items: center;

        .user__name {
            margin-right: 16px;
            white-space: nowrap;
        }

        .logout {
            padding: 4px;
            line-height: 16px;
            cursor: pointer;
        }
    }

    .menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .menu__item {
            margin: 16px 0;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            .menu__item__button {
                background: transparent;
                border: none;
                padding: 0;
                margin: 0;
                img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    object-position: center;
                    opacity: 0.6;
                    &.active,
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .layer-types {
        position: absolute;
        right: 60px;
        bottom: 70px;
        border-radius: 5px;
        background-color: rgba(27, 37, 55, 0.85);
        padding: 5px 0;
        .layer-types__item {
            padding: 0 12px;
            font-size: 14px;
            text-align: left;
            &:hover,
            &.active {
                background-color: rgba(255, 255, 255, 0.15);
                cursor: pointer;
            }
        }
    }

    .list {
        position: absolute;
        right: 56px;
        top: 0;
        bottom: 0;
        min-width: 250px;
        text-align: left;
        background-color: rgba(42, 53, 75, 0.85);
        // border-radius: 5px 0 0 5px;

        .list__header {
            background-color: #1b2537;
            padding: 10px 16px;
            font-size: 16px;
            font-weight: 500;
            // border-top-left-radius: 5px;
        }

        .list__content {
            list-style-type: none;
            padding: 0;
            margin: 0;
            // border-bottom-left-radius: 5px;

            &.list__content--parent {
                max-height: calc(100vh - 44px);
                overflow: auto;
            }

            .list__item {
                font-size: 14px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.15);
                }

                .item__header {
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    white-space: nowrap;
                    .title {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                    }
                    i:hover {
                        cursor: pointer;
                    }
                    .icons {
                        & > * {
                            margin-left: 8px;
                            height: 18px;
                            width: 16px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .pre {
                    width: 24px;
                    text-align: center;
                    margin-right: 22px;
                }
            }
        }
    }

    .tools {
        .list__item {
            cursor: pointer;
        }
    }
}
