.selfTable {
  width: 100%;
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 0;

  th {
    width: 20rem;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
    td {
      word-break: break-word;
    }
  }
  thead {
    position: sticky;
    top: 0;
    z-index: 1;

    .table__column--sticky {
      background-color: var(--primary-color-lighten-200);
    }
  }
  tbody {
    height: 100%;
    overflow-y: scroll;

    .table__column--sticky {
      background-color: var(--primary-color-lighten-100);
    }
  }

  .table__column--sticky {
    position: sticky;
    right: 0;
    border-left: 0.1rem solid #ddefef !important;
  }
}

.tableContent {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 4rem);
  position: relative;
}

.tableDiv {
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  //height: 30rem;
  // overflow-x: auto;
  // overflow-y: hidden;
  //overflow: auto;
  border-radius: 1rem 1rem 0 0;
  z-index: 10;
}

.tableHeader {
  height: 3.5rem;
  background-color: #fff;
}

.tableShowColumns {
  max-height: 12.5rem;
  padding: 0;
  position: absolute;
  top: 4.5rem;
  right: 4.5rem;
  overflow: auto;
  border-radius: 0.5rem;
  background-color: var(--primary-color-opacity-85);
  color: var(--white);
  text-align: left;
  z-index: 99;

  .table__column {
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    .column__checkbox {
      margin-right: 0.8rem;
    }
    .column__name {
      margin: 0;
      font-size: 1.4rem;
    }
  }
}

.tableColumns {
  // position: absolute;
  top: 0.8rem;
  right: 4rem;
}
.tableClose {
  // position: absolute;
  top: 0.8rem;
  right: 1.5rem;
}

.tableFilter {
  // position: absolute;
  top: 0.8rem;
  right: 7rem;
}

.excelIcon {
  // position: absolute;
  right: 10rem;
  top: 0.8rem;
}
.tableSimpleFilter {
  position: absolute;
  top: 0.8rem;
  right: 12.5rem;
}
.tableModalHeader {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid;
  color: #606060;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 0.1rem solid #dee2e6;
  //border-right: 0.1rem solid black;
}
