.selfTable {
    width: 100%;
    margin-bottom: 0;

    th {
        width: 200px;
    }
    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed; /* even columns width , fix width of table too*/
    }
    tbody {
        display: block;
        height: 214px;
        overflow-y: scroll;
    }
}

.tableContent {
    height: 250px;
    overflow-x: auto;
    overflow-y: hidden;
}

.tableDiv {
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    //height: 300px;
    // overflow-x: auto;
    // overflow-y: hidden;
    //overflow: auto;
    border-radius: 10px 10px 0 0;
    z-index: 10;
}

.tableHeader {
    height: 35px;
    background-color: #fff;
}

.tableShowColumns {
    overflow: auto;
    position: absolute;
    top: 25px;
    text-align: left;
    background: white;
    right: 70px;
    z-index: 99;
    height: 100px;
    padding: 0 80px 0 10px;
}

.tableColumns {
    // position: absolute;
    top: 8px;
    right: 40px;
}

.tableClose {
    // position: absolute;
    top: 8px;
    right: 15px;
}

.tableFilter {
    // position: absolute;
    top: 8px;
    right: 70px;
}

.excelIcon {
    // position: absolute;
    right: 100px;
    top: 8px;
}
.tableSimpleFilter {
    position: absolute;
    top: 8px;
    right: 125px;
}
.tableModalHeader {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    color: #606060;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    //border-right: 1px solid black;
}
