.tree {
  ul {
    list-style: none;

    //  & .tree-li{
    //     list-style: none;
    //  }

    .tree-checkbox {
      /* Double-sized Checkboxes */
      -ms-transform: scale(1.5); /* IE */
      -moz-transform: scale(1.5); /* FF */
      -webkit-transform: scale(1.5); /* Safari and Chrome */
      -o-transform: scale(1.5); /* Opera */
      transform: scale(1.5);
      margin-left: 1rem;
    }
  }

  .tree-item {
    border: 0.1rem solid gray;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    // .tree-open-btn :hover,
    // .tree-open-btn :focus {
    //   color: blue;
    // }
  }
  .tree-item:hover,
  .tree-item:focus {
    transition: all 0.3s ease;
    color: white;
    background-color: var(--primary-color);
  }
}
